*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
}
@keyframes ani{
    0%{
        color: white;
    }
    100%{
        color: transparent;
    }
}
h1{
    color: white;
    animation: ani 1.5s infinite alternate;
}